[2017-07-01 21:46] andyrj opened #2 "Async Routing, (moving from hyperapp/hyperapp)"
For discussion of Async Routing implemetation ideas

[old issue on hyperapp/hyperapp](https://github.com/hyperapp/hyperapp/issues/250)

I haven't really got anything new to add to this issue yet, as soon as I've played around with something and have it in a reasonable state I will share code snippets and repo links.

[2017-07-03 17:00] dodekeract opened #3 "Why import {Router}?"
Is there still a reason to do it like this instead of using `export default () => {}`?

[2017-07-04 03:57] jbucaran commented on #3
Yes. The reason is we want to export other components in the future, like `<Link />` that wraps an `<a href="#route" onclick=...></a>`. :wave:😎

[2017-07-04 03:57] #3 closed

[2017-07-11 20:38] Pyrolistical opened #4 "New API Proposal"
Love Hyperapp, but I found the API for this router to be a tad odd. I feel its violating the principle of least surprise.

I don't like how it overload the `view` property as people are used it it being a function, and now its not. Also why are the routes an array when it could be simply an object?

# New API Proposal
[code]

1. Leave `view` alone and even throw an error if `view` is defined when

[2017-07-12 00:25] jbucaran commented on #4
Yes, I couldn't agree more and that's about to change very soon in when I fix the router for hyperapp@0.10.0.

There is a reason for this one. It used to be an object, just like the example you have given. But that makes the router indeterministic due to how objects behave in JavaScript.

If the view is treated as a key/route (function) object, the study the following example:

[code]
[code]
In th

[2017-07-12 17:53] Pyrolistical commented on #4
That's cool. I minor suggestions to make the API UX slightly easier to use:
[code]

I would still add a routes property and not expose the implementation detail of setting view in order to use the Router. I would also make routes take a long list of alternating strings and functions to reduce the syntax. You can always error if the list length is odd or if it doesn't exactly alternate between stri

[2017-07-12 17:53] #4 closed

[2017-07-29 15:46] agungyuliaji opened #5 "Uncaught TypeError: Cannot read property 'length' of undefined"
Hello!

Just follow Readme. got `Uncaught TypeError: Cannot read property 'length' of undefined`
My code :

[code]

[2017-08-01 14:15] SkaterDad commented on #5
Hi!

`hyperapp` made some big changes recently, and the router has unfortunately not been updated yet.

The good news is the router code is very small and in a single file, so you can temporarily copy the code from [PR#6](https://github.com/hyperapp/router/pull/6) into a file and try it out.
https://github.com/andyrj/router/blob/53f451cafb278482d45ad8c27d966567b26e9b52/src/router.js

[2017-08-08 06:27] spapas opened #8 "Support hashed routes"
Hello, could you also support hashed routes beyond pathname routes? For example, instead of writing `http://example.com/detail/` I'd prefer to write `http://example.com/#/detail` to go to the detail view. This is important for easier integration of hyperapp with existing routes since with pathnames the web server must be configured to pass everything to the main page. Also it greately helps with t

[2017-08-12 20:39] chiefsmurph opened #10 "Route not matched when parameter includes "special" characters"
considering these routes:
[code]

when I navigate to `/query/Hot` hyperapp-router correctly matches the `query` route.
however when I navigate to `/query/Hot%20Pocket` it does not match the `query` route and instead falls back to the `*` route.

the same happens if there is `:`, `(`, or `)` in the query parameter whether or not the "special" characters are URI encoded.

[2017-08-16 16:30] JorgeBucaran opened #11 "Component-based router API"
Default router.

[code]

Component-based router (proposed syntax).

[code]

[2017-08-17 21:39] jbucaran commented on #10
@chiefsmurph Seems like some encoding is due. If you know how to solve the problem can you send a PR? The router now works with latest hyperapp! :)

[2017-08-19 17:41] jbucaran commented on #11
@SkaterDad @zaceno @lukejacksonn Thoughts? 🤔

[2017-08-19 21:42] lukejacksonn commented on #11
How about calling it what is is..
[code]
Are you experimenting with this anywhere (CodePen, etc.)?

[2017-08-19 23:05] zaceno commented on #11
Is the `<Router>` to enclose various routes absolutely necessary? I think of `<Route path="/my/path" view={someView} />` as syntactic sugar for `{actions.router.matches('/my/path') && someView() }`.

[2017-08-19 23:50] andyrj commented on #11
I think you need it so that h() passes the routes back as vararg children to the router component that returns the array?  That is what I was figuring at least.

[2017-08-20 06:35] #10 closed

[2017-08-20 07:25] zaceno commented on #11
@andyrj, As I understand the concept of "component based router", it's not just meant as a more verbose way of writing an array (that wouldn't be worth much).

I believe idea is to be able to dynamically include/swap components in a view, based on routes. (as opposed to the array-method which only allows you to switch the top level view based on routes)

[2017-08-20 07:56] andyrj commented on #11
Wasn't saying you had to simply pass back the array, didn't state that very clear after reading it again.  But the router component would get the routes as children and could then match and render the match or whatever else you want it to do.

Without a wrapper component how do you know the order they should be matched?  Or if there were two matches and one was more specific which would you render

[2017-08-20 08:21] andyrj commented on #11
Shouldn't have said return, sorry for confusion there.  I understand what you mean though that would be useless if that is all it was doing.

[2017-08-20 09:29] zaceno commented on #11
I understand my misunderstanding now I think. I was thinking of a more explicit type of route matching with no fall-forwards or default et c. Just simple: "if the route looks like this: show this component, if not, don't.

I get it now, that the wrapper is necessary for the sort of sequential matching that the regular router does.

I think a component style is probably more useful for the type of

[2017-08-20 22:53] nicolazj opened #14 "How to access actions from Components?"
If there is way to access actions from Components, then we can have something like this:
[code]
We don't need to pass in the `actions.router.go` .

If we want to override default behaviour, then we do
[code]

just like the Link components in React Router.

[2017-08-21 03:34] jbucaran commented on #14
@nicolazj No, we can't at the moment.

Link is a stateless & functional component and like all other functional components, they can't update their parent unless they are given a function or a mechanism to do so.

In the future, it could be possible for a mixin to register a _view_, just like your app's view. We can then **bind** it to your app's state and actions and give it to you inside the mai

[2017-08-21 03:34] #14 closed

[2017-08-21 19:29] SkaterDad commented on #11
Is this proposal basically the same as React Router v4's <route> and <switch> components?

Like @zaceno, I'd like a simple `match` function that returns true/false and conditionally renders.  The router mixin would mostly just populate the `state` object and export useful components/utilities.

The one thing I'm unclear on, though, is how we could cleanly handle data fetching on route changes if t

[2017-08-21 20:22] zaceno commented on #11
From slack talks, I realize that the "normal" type of router, with a matching sequence and wildcard, could work component-style if we have a Switch component. (But the Route component should work as @skaterdad said above when it's not inside a Switch component).

The thing I wonder how it should work, is how we attach dynamic data (params) to the state, when the Route component is evaluated in the

[2017-08-23 17:24] RikuVan opened #16 "Unable to change routes with latest version"
I updated to
[code]
Initial page renders but I get the following error when changing routes:
[code]
Here is the view
[code]
[The code with old deps can be found](https://github.com/webDevAndSausages/webDevAndSausages.github.io)

[2017-08-23 17:26] jbucaran commented on #16
@RikuVan What is this?

[code]

[2017-08-23 17:27] RikuVan commented on #16
Yeah, stupid should just be the default view. But I don't think that is the bug.

[2017-08-23 17:29] jbucaran commented on #16
@RikuVan Can you post a full example? Otherwise I can't debug this.

[2017-08-23 17:30] RikuVan commented on #16
[code is here](https://github.com/webDevAndSausages/webDevAndSausages.github.io). There is not much too it really

[2017-08-23 17:34] jbucaran commented on #16
I can't reproduce your bug.

[code]

<img width="400" alt="screen shot 2017-08-24 at 2 34 22" src="https://user-images.githubusercontent.com/56996/29629697-c342d25a-8874-11e7-9172-2db37bf34acb.png">
<img width="400" alt="screen shot 2017-08-24 at 2 34 20" src="https://user-images.githubusercontent.com/56996/29629698-c36dfc82-8874-11e7-9b3d-83f746b9ae44.png">

[2017-08-23 17:37] jbucaran commented on #16
@RikuVan I couldn't repro this. Can you post an example I can copy & paste?

[2017-08-23 18:03] RikuVan commented on #16
As soon as i have a chance I will debug a bit more myself first. Are you downloading router from npm or using master?

[2017-08-23 18:04] jbucaran commented on #16
I am using master.

[2017-08-23 19:04] RikuVan commented on #16
so it seems to work if I take the hyphen out of the route name: "previous_events" works but "previous-events" does not. So maybe the regex needs some tweaking?

[2017-08-23 19:05] jbucaran commented on #16
@RikuVan `previous-events` worked in my local test.

[2017-08-23 19:06] jbucaran commented on #16
https://github.com/hyperapp/router/blob/13fbefe169d820c7b326ae17a7c9e73af01ad187/src/Router.js#L56

[2017-08-23 19:27] RikuVan commented on #16
oh I was pretty sure you would get the same error with hyphen :anguished: Dunno. Will look again tomorrow if I can.

[2017-08-23 19:29] jbucaran commented on #16
@SkaterDad Can you repro this?

[2017-08-23 23:17] SkaterDad commented on #16
I'll give it a try later tonight or tomorrow as I get time.

What browser is the bug occurring in?

[2017-08-24 03:59] RikuVan commented on #16
both chrome and firefox

[2017-08-24 04:27] jbucaran commented on #16
@RikuVan Can you create a different, small example where you can repro the bug?

[2017-08-24 04:56] RikuVan commented on #16
I think I figured out what the problem was. I logged out the router data in the setter and it was a promise when hitting the previous-events route. So I suppose just like the load event you should not return anything from the route action. It was nothing to do with the hyphen. Interesting that this caused no bug with older version of router and hyperapp. Should of debugged this further before maki

[2017-08-24 05:00] jbucaran commented on #16
The route events hooks into the route switch process, essentially letting you override the route that is going to match for another one. But is that really useful?

We could just get rid of that no-feature or better document it.

Here is the relevant part.

https://github.com/hyperapp/router/blob/13fbefe169d820c7b326ae17a7c9e73af01ad187/src/Router.js#L29-36

[2017-08-24 05:01] RikuVan commented on #16
Seems it could be useful. But, yeah, maybe a warning in the docs about how to use/not use it properly.

[2017-08-24 05:07] RikuVan commented on #16
Uses cases probably include something like a. a first time user redirect to a orientation page or auth stuff or maybe changing the locale. But I guess a HOF would be my choice for auth stuff.

[2017-08-24 07:57] RikuVan commented on #16
oops just to confuse things more it was the route 'event' that i returned from not the action. So to confirm: you shouldn't return anything from the route event correct?

[2017-08-24 08:05] jbucaran commented on #16
Yeah, that's what I thought and so is my answer.

You can return a [RouteInfo](https://github.com/hyperapp/router#routeinfo) object to use instead, but we're still yet to see if that's even useful.

BTW what were you returning from events.route and why? Just curious.

[2017-08-24 15:52] RikuVan commented on #16
I just unnecessarily added a return statement to a axios promise out of habit. And yeah i had heard about hyperapp for the first time the same day I coded, so I was guessing about everything. In a way, it was nice to have this bug because it got me look at your code. I should do the same for hyperapp now (maybe with the next bug :). So cool when the 'big' frameworks are a blackbox to me to be able

[2017-08-24 16:04] jbucaran commented on #16
Cool. I'll keep this open until I get around adding more docs about `route`.

[2017-09-01 03:37] JorgeBucaran opened #19 "Link: Let user define their own onclick."
Current there is not way to define your own onclick when using `<Link>`.

[2017-09-02 09:26] jbucaran commented on #2
There has been no activity in this issue for a while, so we might as well close it.

[2017-09-06 17:03] andyrj commented on #2
Yes, please close.  Solved this with hyperapp-loadable.

[2017-09-06 18:21] jbucaran commented on #2
@andyrj Thanks Andy.

For reference: https://github.com/andyrj/hyperapp-loadable

[2017-09-06 18:21] #2 closed

[2017-09-09 05:40] RikuVan opened #21 "Error: Can't resolve './router' with latest npm version"
Upgraded to the latest version and here is no router.js under src, causing this 'Can't resolve '/router' error.

[2017-09-09 05:44] jbucaran commented on #21
Steps to reproduce?

Looks good on a fresh install.

<img width="928" alt="screen shot 2017-09-09 at 14 44 22" src="https://user-images.githubusercontent.com/56996/30237463-6899489c-956d-11e7-82d1-b28048b8a3bb.png">

[2017-09-09 05:48] jbucaran commented on #21
Cloning, building and testing also works flawlessly.

![](https://user-images.githubusercontent.com/56996/30237477-da2fbfe0-956d-11e7-9d1b-d942db4b84e3.png)

@RikuVan Can you describe what you did?

[2017-09-09 08:26] RikuVan commented on #21
<img width="1354" alt="screen shot 2017-09-09 at 11 25 21" src="https://user-images.githubusercontent.com/7317771/30238545-bcb208cc-9551-11e7-9534-7640d61d80f2.png">

[2017-09-09 08:29] jbucaran commented on #21
@RikuVan That screenshot without context is not very helpful and this is most likely a problem in your system as I couldn't repro your issue in a fresh install.

Please post the steps to repro the issue and I'll try to help.

[2017-09-09 08:30] RikuVan commented on #21
<img width="275" alt="screen shot 2017-09-09 at 11 30 18" src="https://user-images.githubusercontent.com/7317771/30238584-4e4c75a6-9552-11e7-8b7b-446d219e9792.png">

[2017-09-09 08:31] RikuVan commented on #21
This is after yarn upgrade @hyperapp/router

[2017-09-09 08:35] jbucaran commented on #21
LGTM here: https://unpkg.com/@hyperapp/router@0.3.0/src/

[2017-09-09 08:41] RikuVan commented on #21
I understand if you are a bit incredulous when the files appear to all be there. But I tried three times and yarn add @hyperapp/router and every time it arrives with no router.js under src.

[2017-09-09 08:44] jbucaran commented on #21
@RikuVan Just for you, I followed the steps:

<img width="1280" alt="screen shot 2017-09-09 at 17 43 18" src="https://user-images.githubusercontent.com/56996/30238675-61e38986-9586-11e7-9f8d-898b5e58b11b.png">

Looks good to me :)

[2017-09-09 08:48] RikuVan commented on #21
Yeah I am mystified. Feel free to close because I have no further evidence to offer other than it is not working on my machine. Obviously if you can't reproduce it then that is it. I will ask a friend at work on monday to install out of curiosity.

[2017-09-09 08:51] jbucaran commented on #21
Sounds like a problem with yarn maybe?

Or with your cache. Try using npm. Try installing in a fresh directory too. 🤔👍

[2017-09-09 09:41] RikuVan commented on #21
yeah update my version of yarn, cleared the cache, tried npm instead...and still no router.js

[2017-09-09 09:41] RikuVan commented on #21
<img width="208" alt="screen shot 2017-09-09 at 12 38 55" src="https://user-images.githubusercontent.com/7317771/30239031-312061ea-955c-11e7-9b00-c039bb672544.png">

[2017-09-09 09:42] jbucaran commented on #21
Why do you have a node_modules inside `src`?

[2017-09-09 09:42] jbucaran commented on #21
@RikuVan Why do you have a node_modules inside src? That's odd.

[2017-09-09 09:45] RikuVan commented on #21
well, this is far fetched but I live in Finland, if I am getting a cached version from npm. But that only makes since if you just updated at some point a version was published without the router.js. I don't suppose that is it.

[2017-09-09 09:47] RikuVan commented on #21
yeah, I thought so too. It only has a .yarn-integrity file in it. Maybe part of the new Yarn release?

[2017-09-09 09:48] jbucaran commented on #21
The only weird issue with the published router that I know is the file name change from Router to router, but the file was always included, at least according to what I was able to check on unpkg.

[2017-09-09 09:49] RikuVan commented on #21
by the way,  I guess the peer dependency for Hyperapp could be updated to the latest version

[2017-09-09 09:51] jbucaran commented on #21
Yes, sounds good, but you don't think that could be the issue no?

[2017-09-09 09:52] RikuVan commented on #21
no, I don't think so.

[2017-09-10 05:29] RikuVan commented on #21
Ok, got up this morning, tried again and, presto, there is the router.js where it is supposed to be :white_check_mark:. Just a long journey to Finland I guess.

[2017-09-10 05:59] jbucaran commented on #21
:+1:

[2017-09-10 05:59] #21 closed

[2017-10-30 09:01] hongmomanu opened #24 "the latest router version 0.3.0 not work with hyperapp.js version 0.15.1"
the error is  "props.view is not a function"

[2017-10-30 10:02] JorgeBucaran commented on #24
Hi @hongmomanu, the router is currently out of order. See https://github.com/hyperapp/router/pull/23.

[2017-10-30 14:21] hongmomanu commented on #24
@JorgeBucaran  , thks, I get it.

[2017-10-30 14:21] #24 closed

[2017-11-01 10:04] leifoolsen opened #25 "Router does not work with latest HyperApp, 0.15.1"
Hello,
The router, version 0.3.0,  does not work with the latest HyperApp release.

The following code snippet:
[code]
gives this error in my console: "app.js:27 Uncaught TypeError: props.view is not a function at render (app.js:27)"

The function in HyperApp that causes the error:
[code]
If I downgrade to e.g. hyperapp-0.12.0, the router works as expected.

[2017-11-01 10:38] Swizz commented on #25
Due to recent API changes Mixins are not part of Hyperapp anymore.

See #23
Duplicates of #24

[2017-11-01 10:50] leifoolsen commented on #25
@Swizz, thanks for clarification.
I'm do not have much experience with HyperApp, so just copy/pasted code from readme.md. The best thing to do right now is to downgrade HyperApp, I guess?

[2017-11-01 10:53] zaceno commented on #25
@leifoolsen Yes for now that's the only way to use the router. But you'll probably end up refactoring a bit when the router works with hyperapp >= 0.15.1. So, depending on how you feel about that, it might be worth waiting too.

[2017-11-01 10:59] leifoolsen commented on #25
@zaceno, thanks for reply.
Maybe it's best to wait. I have a webpack boilerplate,https://github.com/leifoolsen/webpack2-boilerplate, (Hyperapp, CSSModules, Node Express, HMR, etc) up and running without routing, so I can experiment with other aspects regarding HyperApp.

[2017-11-17 16:20] JorgeBucaran opened #27 "A different API."
@lukejacksonn's #26 and @speier's #23 are the best we have at the moment, but I am still not satisfied with the current approach, so here is (yet) another take on the router's API.

I don't have a PR ready yet, but I wanted to share my ideas right away. Here is an example of how your code would look like.

[code]

### Style I

[code]

### Style II

[code]

[2017-11-17 17:04] SkaterDad commented on #27
Your proposed API seems good for simple cases, much like the original built-in router.  It would be great to get something released that actually works so new people aren't put off.

Do you want this package to support more complex use cases, which need guarding/redirects/data/etc...?  Or just keep it simple?

I've got a much more complicated router in the works for my own use cases, which I may e

[2017-11-17 17:10] JorgeBucaran commented on #27
@SkaterDad I definitely want to support all of that stuff, let me think how that would look like with this API.

What would those features be and can you define them?

[2017-11-17 17:16] JorgeBucaran commented on #27
@SkaterDad Isn't redirects === guarding? 🤔

[2017-11-17 17:17] Swizz commented on #27
`Router` will return a vdom tree, isnt it ? So I will be able to use it into a template ?

[code]

[2017-11-17 17:19] JorgeBucaran commented on #27
@SkaterDad What is a template?

[2017-11-17 17:20] Swizz commented on #27
A wrong name for "used into a vdom tree, as a child"

[2017-11-17 17:21] JorgeBucaran commented on #27
@Swizz It returns the view we must give to app() so your app is rendered. So, you don't need to use it like that; it's done for you.

[2017-11-17 17:24] Swizz commented on #27
Okay then. I have an header (a nav bar) part of the app. But I only want the Router to deal with the section content. I need to use the header as a stateless component on each view ?
I think that is why both @lukejacksonn and @speier are awaiting Router component.

I think we are not choosing a view to display on a route but if the route match the guard to allow content to be added to the tree.

[2017-11-17 17:26] JorgeBucaran commented on #27
@Swizz Sorry, I don't understand what you are saying, but if you show me an example, I could tell you if it works or not.

[2017-11-17 17:30] SkaterDad commented on #27
@JorgeBucaran In my mind, the route guard functions can perform both route change cancellation or redirects.  My implementation checks the return value:  string -> redirect, false -> cancel.

The `go` action would check the guard first.  If successful, call the data action (with new route info)

I think you would need to use the object-style API, and allow people to attach `guard` functions and `d

[2017-11-17 17:34] Swizz commented on #27
Okay, Given I am using Hyperapp to do my blog. I have and header to choose sections and articles. If you are on a section I display a list and on an article I display text.

[code]
[code]

[2017-11-17 17:35] JorgeBucaran commented on #27
@SkaterDad We could pass `data` into the view function instead.

[code]

About guards, those are what Luke called redirects in his documentation. Correct?

[code]

[2017-11-17 17:51] SkaterDad commented on #27
It's similar to his redirect, but you can also return false to prevent the route change to begin with.

His strategy relies completely on logic in the view, but I prefer the router action to handle it.   Same with data fetching.

[2017-11-17 18:10] dmitry-vakhnenko commented on #27
guys guards will be error. Guards forces developers mistakes.

i think component should check `{state.user}`, `{state.user.authorized}`.
+ everybody can wrap admin/authorizedUser specific components in other component-checker.

p.s. i prefer version 2. Its more extensible with clearly syntax. I think it helps in future.

[2017-11-17 18:26] SkaterDad commented on #27
I disagree, but it may be due to our use cases & preferences.

Component-based routing, like Luke's proposal and React Router, are highly dynamic and likely work great for many use cases.

However, some applications need the URL to be like a source of truth, from which you can generate the application state and know which data to fetch.  In React, the library `redux-first-router` embodies this ide

[2017-11-18 04:20] JorgeBucaran commented on #27
@SkaterDad We could have a component-based router if we really want to. 👍

The issue I am trying to solve is initialization and popstate setup.

In Elm,  they usually have Html.program, similar to our `app` function. But for routing, they use Navigation.program.

[2017-11-20 07:55] JorgeBucaran commented on #27
Let's try the component approach! I'll additional comments to @lukejacksonn's PR.

[2017-11-20 08:55] JorgeBucaran commented on #27
Nevermind the comment above. Problems I have with the component router:

- Route is not pure. It uses location.pathname.
  - Passing state.router to every `Route` component is possible, but not very nice.
- Popstate is a bad pattern.

@SkaterDad @lukejacksonn

[2017-11-20 11:16] lukejacksonn commented on #27
I look forward to your alternate proposal. Until then I'll push my PR to `hyperapp-router` and work on it from there. Unless you change the view, a component router should work with most versions to come (it should even work on some older versions).

Too many features have been removed from hyperapp recently, without being substituted with better (or any alternate) solutions, and breaking changes

[2017-11-20 11:23] JorgeBucaran commented on #27
@lukejacksonn I don't have an alternate proposal yet. I like the component approach, but some of the components are not pure, and while I don't hold the view that 100% of all components must be pure, I think the router should set the right example here.

Fair enough. I need to follow my plan and you need to follow yours! Good luck in the future! 👋

[2017-11-20 16:00] JorgeBucaran commented on #27
@SkaterDad @lukejacksonn Here is a preliminary proposal. Names and minor details are open to change.

[code]

[2017-11-20 16:05] SkaterDad commented on #27
@JorgeBucaran Can you give a detailed example of what the objects being passed to the view functions look like?  The terms `path` and `match` are a little hard to distinguish.

[2017-11-20 16:09] JorgeBucaran commented on #27
@SkaterDad Sure, keep in mind both the objects and their names are still open to change based on what we actually need.

The `Switch` component will select the first view that matches `path` and call the function with the route / location / navigation information, in this case the match url.

[2017-11-20 16:15] JorgeBucaran commented on #27
@SkaterDad We could get rid of Router and Route and instead go with this:

[code]

[2017-11-20 16:20] okwolf commented on #27
`Switch` makes me think of a UI component that can be toggled on or off, such as in Material Design: https://material.io/guidelines/components/selection-controls.html#selection-controls-switch

[2017-11-20 16:21] JorgeBucaran commented on #27
@okwolf It's gone already. Now it's just `Navigation`.

[2017-11-20 17:01] SkaterDad commented on #27
I see what you're doing now.  The example is forgetting to pass `location` to the `topicsView` function, but I imagine it's just `state.location`?

As a component-style router, this looks okay to me.

[2017-11-20 17:17] JorgeBucaran commented on #27
@SkaterDad Updated my post to reflect that and renamed Navigation to Router.

[2017-11-28 04:19] #11 closed

[2017-11-28 04:19] JorgeBucaran commented on #19
Outdated.

[2017-11-28 04:19] #19 closed

[2017-12-02 04:03] JorgeBucaran commented on #27
#28

[2017-12-02 04:03] #27 closed

[2017-12-18 05:11] JorgeBucaran commented on #25
@leifoolsen I just published 0.4.1; it works with hyperapp@0.18.0. Docs are on the README. 👋

[2017-12-18 05:11] #25 closed

[2017-12-18 05:11] JorgeBucaran commented on #16
@RikuVan I just published 0.4.1; it works with hyperapp@0.18.0. Docs are on the README. 👋

[2017-12-18 05:11] #16 closed

[2017-12-18 05:14] JorgeBucaran commented on #8
@spapas I just published 0.4.1; it works with hyperapp@0.18.0. Now we need to figure out how to integrate a hash-based solution to the new arch.

[2017-12-20 18:27] zaceno opened #29 "`Switch` evaluates all matching routes"
See this example: https://codepen.io/zaceno/pen/MreKjj?editors=0010

Load it with your console open, and notice the log:

[code]

This is as it should be. It means that the switch checked the `path` of the first route (`/foo`) and saw there was no match. So it moved on to check the second route, which does match (no `path` = always match), and rendered this view

... But now: click the link "FOO"

[2017-12-20 20:01] zaceno opened #30 "Switch requires JSX to work"
See this example:

https://codepen.io/zaceno/pen/OzXxjb?editors=0010

It renders `<h1>Bar</h1>` correctly according to the routing rules.  It uses a view function (`viewJSX`) containing a `<Switch>...</Switch>` in JSX, so it works as it should.

Now comment out `viewJSX` in the app-statement, and un-comment `viewFunc`.  It is the exact same function, only it calls the switch as a function, using `

[2017-12-20 20:10] zaceno opened #31 "Router via CDN requires renaming "location""
See this codepen:

https://codepen.io/zaceno/pen/RxRjVZ

It is a simple copy-paste of the first example in the README.md. Only I've changed

[code]

to

[code]

because the `router` is loaded via CDN.

... and notice that it doesn't work.

The reason is some kind of collision between the router's `location`  and `window.location`. It can be worked around by renaming location, in the destructuring,

[2017-12-20 21:08] Swizz commented on #31
I am currently using
[code]

In my build too, since I met some troubles.

[2017-12-20 22:32] zaceno commented on #29
Having looked into the code a bit, I realize it's going to be tricky (if not impossible) to achieve the behavior I was expecting, because `Route` can be used standalone as well as in a `Switch`.

So we have to evaluate all renders that match, for the cases when `Route` is *not* inside a `Switch`.

It could work if there was a special `SwitchRoute` component with the same api but specifically for u

[2017-12-21 01:48] JorgeBucaran commented on #31
I guess we could rename location to `router`, but there's a reason why it was called `location` in the first place. I need to think about this one a bit. In the meantime could you use the solution described by @Swizz?

[2017-12-21 01:50] JorgeBucaran commented on #30
@zaceno You are on fire! 🔥

Jut to clarify: wasn't it `Switch({}, ...)` incorrect and `h(Switch)` the preferred way. I can't remember.

I think this is probably a bug anyway, so I'll tag it as such and look into it later.

Thanks for the report! 🙏

[2017-12-21 02:06] JorgeBucaran commented on #29
I am not sure. Why would you expect that?

[2017-12-21 02:42] zaceno commented on #29
Because it's supposed to just render and return the first match. Why do more work?

[2017-12-21 02:45] JorgeBucaran commented on #29
@zaceno I'll need to look into what ReactRouter's Switch does here. But I think it's the same story there. Temporary answer: "this is by design" and "this is a result of the declarative nature of the design", but maybe we can do better or at least try.

[2017-12-21 02:49] zaceno commented on #29
I'd like it if we try, but I think the crux is essentially we would need different behavior for `Route` depending on if it is in a `Switch` or not. And I don't see how that could be possible without a different type of `Route`... maybe with a parameter somehow? Kind of like `parent`?

[2017-12-21 02:55] JorgeBucaran commented on #29
Maybe one should only nest routes inside Switch when you know only one of them will match.

[2017-12-21 04:15] leavehouse commented on #8
In case anyone is interested in this as a stopgap solution, I have hacked together a hash-router based on 0.4.1 for an app I'm writing: https://github.com/leavehouse/hyperapp-hash-router ([diff](https://github.com/leavehouse/hyperapp-hash-router/commit/7bc45366d2955c261522078714dcf68b0e02584d)). It has no `Redirect`, but `Route` and `Link` are working fine (`Switch` may work, but I haven't tested)

[2017-12-21 10:37] zaceno commented on #30
Well, I've never used a function like `h(Component, props, children)`, and haven't seen anyone else do it either that I can remember. It's always `Component(props, children)`. And I much prefer that convention.

But good point: `h(Switch, {}, child1, child2, child3)` is more accurately how JSX is calling it. And I think

 is probably incorrect. It's `h` that does the filtering.

[2017-12-21 16:08] vdsabev commented on #19
I just bumped into this locally. Should we reopen?

[2017-12-28 23:19] rantecki opened #33 "Passing properties (state/actions) to components?"
I'm wondering how we pass props to Components used in a Route node.

E.g.

[code]

How can we pass the necessary props (state/actions) that Home needs?

I've found myself using a wrapper as a workaround e.g.

[code]

Is this a good pattern to use, or is there is a better way?

[2017-12-29 00:26] JorgeBucaran commented on #33
That's a way to do it. There's no "better" way since this is mostly functional composition and has little to do with how Hyperapp or the Router works.

Depending on what I am doing, I would prefer this:

[code]

...but in reality, I would try to be more granular and specific of what I pass down to my component. That is, instead of passing the entire state and actions, I would only pass it the bits

[2017-12-29 00:26] #33 closed

[2017-12-29 15:16] ansarizafar opened #34 "Before/After Router hooks"
Please provide support for Before/After router hooks for router authorization.

[2017-12-29 15:19] JorgeBucaran commented on #34
And how would it look like in pseudocode? 🤔

[2017-12-29 15:29] ansarizafar commented on #34
Stenciljs router https://github.com/ionic-team/stencil-router has a routeRender function for route authorization.

[2017-12-30 00:18] JorgeBucaran commented on #34
What do you think @lukejacksonn @SkaterDad?

[2018-01-04 15:03] jameswilddev commented on #31
This has also caused problems for me; I'm not sure if I'm doing something else wrong, but:

[code]
works, while

[code]
gives me t.set is not a function in the "handleLocationChange" function.

I'm unable to get actions.location.go("...") to work at all due to the same exception.

[2018-01-04 15:34] JorgeBucaran commented on #31
I'll have @hyperapp/router 1.0 ready this weekend! 🙏

[2018-01-09 08:49] zaceno commented on #29
@JorgeBucaran that's not possible if you want the "fallback"/"default"/404-route. Since that has to match everything. So anything that matches one of the "proper" routes will also match the default.

[2018-01-09 08:59] zaceno commented on #31
@Swizz solution is basically the same as the workaround I suggested, but for es6 modules rather than CDN (which is the issue I was reporting on). I haven't had any issues like @Swizz described using the router as a module in a rollup-bundle though.

I'm not sure you need to rename it. I think it would be enough to just make a note in the docs:

"Make sure you don't accidentally overwrite `window.l

[2018-01-09 15:04] JorgeBucaran commented on #29
@zaceno Behavior should be the same as ReactRouter IMO.

[2018-01-13 14:33] IniZio opened #37 "Not rendering non-exact path"
I tried to have `/posts` show a list of posts, then `/posts/abc` to post the detail of post with id abc. However with this code:
[code]

[2018-01-14 20:54] ForsakenHarmony opened #38 "`oncreate` doesn't get called when you route to a new View"
I have 2 views, `/` (home) and `/search`.

in search I have `oncreate={actions.search.findNearby}`, this doesn't get called when I route to it from `/`, but it does when I reload the page

[2018-01-14 23:15] zaceno commented on #38
It's probably because the vdom engine is repurposing the top elements from the two views. Try setting a different key on the two views top nodes.

Actually... that will only work if the route components themselves are enclosed in a vnode because keys have no effect on the topmost vnode of an app.

[2018-01-14 23:49] ForsakenHarmony commented on #38
uhh, ok?

[2018-01-15 00:10] zaceno commented on #38
If my response didn't make sense to you, perhaps you could post a simplified version of the code you have that isn't working, and we can just show you how to make it work.

The problem you're describing is not uncommon and I'm pretty sure it can be solved by keying your different views.

[2018-01-15 00:13] ForsakenHarmony commented on #38
Yeah, it worked, I was confused about the second part of what you said, makes sense now though.

Maybe the router could add the path as a key by default

[2018-01-15 00:20] ForsakenHarmony commented on #38
misclick, I can make a pr for that if you want it, or you can just close this

[2018-01-15 00:26] zaceno commented on #38
That's a pretty neat idea! It's the key you'd naturally choose anyway.

PR away by all means (but it's not my project and I can't speak for anyone else ;) )

[2018-01-15 00:27] ForsakenHarmony commented on #38
You're a member ¯\_(ツ)_/¯

[2018-01-15 00:28] JorgeBucaran commented on #38
How?

@zaceno Could you explain what they are saying? 🙏

[2018-01-15 00:32] ForsakenHarmony commented on #38
Just add a `key` to the `Route` with the `path` for the route

[2018-01-15 00:53] ForsakenHarmony commented on #38
I found a way

[code]

[2018-01-15 01:02] JorgeBucaran commented on #38
@ForsakenHarmony If this works, then I am 💯 in!

Could you create a PR with tests? 🙏

[2018-01-15 15:13] ForsakenHarmony commented on #38
unsure how to test it

[2018-01-15 15:32] JorgeBucaran commented on #38
Well, I can think about it then. Feel free to make that PR anyway! 👍

[2018-01-15 15:32] #38 closed

[2018-01-15 19:24] rishavs opened #41 "Need Typescript type definitions"
As noted in the subject, the Typescript type definitions for the library are yet to be done.

[2018-01-15 20:26] zaceno commented on #29
I think I'll close this. It's rare this issue will rear its head, and there aren't any good fixes I can think of. All one can do is be aware of this if one is in the habit of calling actions immediately in components.

[2018-01-15 20:26] #29 closed

[2018-01-16 07:55] zaceno commented on #30
Fixed!

[2018-01-16 07:55] #30 closed

[2018-01-17 08:51] infinnie opened #42 "Why should the history APIs be wrapped?"
I guess leaving them what they are would be better.

[2018-01-17 09:41] zaceno commented on #8
I think it's probably better to have a hash-based router as it's own package, rather than to add hash-route-support to the official router.
Yes, there's tree-shaking, but since you won't ever want to use both types of routers together (?) there's really no reason to even have them in the same package.
A separate hash-based router wouldn't even have to be an official `@hyperapp/hashrouter`, as long

[2018-01-17 10:04] spapas commented on #8
@zaceno yes this is definitely a possible solution. However at least for me, including the hashed router in this repo and switching between the hashed and non-hashed using a switch is the preferrable solution, especially if the changes are minor (like for example in @leavehouse's solution diff https://github.com/leavehouse/hyperapp-hash-router/commit/7bc45366d2955c261522078714dcf68b0e02584d).

Kee

[2018-01-17 13:07] JorgeBucaran commented on #42
pushState and replaceState are wrapped to call actions in order to update the state as a result of location changes in the address bar, when the user clicks the back/forward button, etc.

[2018-01-17 13:08] #42 closed

[2018-01-17 13:13] infinnie commented on #42
Thanks for explanation, but I do not think that the browser’s internal mechanisms should be altered. Only my opinion

[2018-01-17 13:15] JorgeBucaran commented on #42
@infinnie You are welcome to create a new issue/PR with a proposal.

[2018-01-17 13:52] zaceno commented on #8
@spapas

You can *support* hashes with quite a minor diff, sure. But a router that supports only hash-based routes can get away with being *a lot* slimmer (since you can just ignore all the pushState stuff, `Link` component is not necessary et c)

If you really have an app where you want to alternate between hash-routes and history-api, then I can see how you'd want a router-package to support bot

[2018-01-17 14:32] spapas commented on #8
I agree that hashed and normal routes won't be used in the same app. But the problems with DRYness and poor maintainability remain.

In any case, using an extra hashed-routers package is not a problem for me and will definitely resolve this issue! Thanks!

[2018-01-17 15:29] zaceno commented on #8
Well the point I was making was mainly that a minimal hash-router implementation and a minimal history-api-router implementation will be quite different. Basically the only duplicated code would be the route parameter/matching. (Still, that's some duplication, so I see your point)

But anyhow, that's just my theory, I don't know for sure. (I should try it out first before talking, I guess 😅 )

[2018-01-22 09:33] willin opened #43 "parseRoute question"
https://github.com/willin/router/blob/master/src/parseRoute.js#L28-L41

[code]

what does this mean?

[2018-01-22 09:58] JorgeBucaran commented on #43
A route is like a template, it can be a static route url like `foo/bar` or dynamic like `foo/bar/:id`. This code finds all the `:id`-like strings inside every path of the route and adds it as a key to the `params` object.

I still haven't published 1.0, but when I do, I'll brush up this code to make it more readable. There is no need to be golfing with the router like this.

Thanks for bringing it

[2018-01-23 04:19] #43 closed

[2018-01-25 17:37] Siilwyn commented on #8
An option to use hashes instead would be very useful for Electron apps too, at the moment this modules isn't compatible with Electron.

[2018-01-30 12:17] DanielSokil opened #44 "Cannot read property 'name' of undefined"
Getting error when going to `/edge`

[code]

[2018-01-31 00:47] DanielSokil commented on #44
It work's perfectly fine when I use `h`

[code]

[2018-01-31 01:44] brandonros commented on #2
I wouldn't consider this issue closed. The linked package doesn't look very promising...

[2018-01-31 02:15] brandonros commented on #8
I'm confused... What is the purpose of this package, if it doesn't support hashes?

How are you guys setting up your servers to server the same proverbial `index.html` when people try to hit routes other than `/` on your servers?...

[2018-01-31 02:40] andyrj commented on #2
@brandonros it worked fine with the 0.12 api it was developed against.  Regardless this doesn't require anything from hyperapp core to achieve the desired code splitting/dynamic import.  Sorry my experiment isn't promising, maybe you should build a better one?

[2018-01-31 02:40] JorgeBucaran commented on #2
@brandonros Let's create a new issue then. I am not too clear on what's being asked here or what.

[2018-01-31 02:42] brandonros commented on #2
lol I don't think making the very-hard-to-follow issue chain harder to follow will make things easier.

I'm trying to write a proof case now but this thing not supporting hashes threw me off...

[2018-01-31 02:46] JorgeBucaran commented on #2
@brandonros React router provides a separate HashRouter (in the same package), so clearly there's a use case for people using only the regular router without hash support. I don't use hash-based routing in any of the projects I've built with Hyperapp. I intend to add hash support to the router in the future, but it's just not a top priority.

[2018-01-31 02:46] brandonros commented on #2
I understand now. I forgot about server-side rendering as well.

[2018-01-31 02:48] JorgeBucaran commented on #2
@brandonros Also see this PR which unfortunately I haven't had a chance to review: https://github.com/hyperapp/router/pull/36

[2018-01-31 02:51] brandonros commented on #2
@JorgeBucaran is the view/render function of hyperapp.app async/does it work with async code? I can't prove it does. If it doesn't, do you have a link to explanation to why?

[2018-01-31 05:07] JorgeBucaran commented on #2
@brandonros Can you try rephrasing the question? I am unable to understand what you are asking.

If the question is whether view redraws are async, then answer is yes. Another to look at it is, view redraws are throttled (currently using  setTimeout and there is a reason for that as well) in order to prevent unnecessary diffing or calls to patch when the state is updated several times in a row, e.

[2018-01-31 06:12] spapas commented on #8
Well the trend right now (which I don't like) is to have normal routes (w/o hashes) even on SPAs.

You probably could do some fancy configuration on your http server to achive this but it is much easier with a framework like django or flaskh : Add a catch-all route https://stackoverflow.com/questions/6545741/django-catch-all-url-without-breaking-append-slash#10199446 or http://flask.pocoo.org/snip

[2018-01-31 07:50] Siilwyn commented on #8
@brandonros I think actual routes are way better than hashes since the history API exists it is good to use them. However in edge-cases (such as an Electron app) hashes are needed.

Regarding server setup that is straightforward, as you said always serve the same HTML page, using rewrites. Two configuration examples:

Nginx:
[code]

Caddy:
[code]

[2018-02-02 03:17] ansarizafar commented on #34
Any update on this issue?

[2018-02-02 03:20] JorgeBucaran commented on #34
Is anyone familiar enough with ReactRouter to know how they deal with this? This router's design is a lot like React's router, so it would make sense to check what they are doing and do it here as well, instead of coming up with something special for it.

[2018-02-02 03:24] JorgeBucaran commented on #34
@ansarizafar Can you provide pseudocode of how you think this would look like in Hyperapp? Please don't post another link.

[2018-02-02 09:08] Swizz commented on #34
Cant we use "fake" lifecycle events on `Route`/`Switch` component ?

[code]

[2018-02-06 07:24] themastersoda commented on #37
I'd make a parent component for /posts and then inside it check match.params/match.isExact to know what to render

[2018-02-06 07:41] zaceno commented on #37
@IniZio Did you try using the `Switch` component?

[code]

[2018-02-06 07:42] zaceno commented on #37
It's suppost to render only the first matching Route. Not sure if that makes a difference in your case

[2018-02-06 12:30] IniZio commented on #37
Thanks in the end it was just me messing up the order of routes 😓. Sorry for disturbing and thanks again for the quick replies!

[2018-02-06 12:30] #37 closed

[2018-02-06 15:12] brielov opened #45 "Update peerDependencies to include hyperapp version 1.0"
With hyperapp reaching 1.0 it may be a good idea to change package.json peerDependencies to something like:

[code]

[2018-02-07 03:01] JorgeBucaran commented on #45
@brielov Definitely. I've been meaning to update the router for a while now, but I haven't had the time, sorry. 🙇

[2018-02-07 12:07] brielov commented on #45
@JorgeBucaran Thanks bro!

[2018-02-12 07:40] m0a commented on #41
[i create a Typescript type definition](https://github.com/hyperapp/router/pull/46)

example code is here

[code]

[2018-02-26 07:28] mickeyvip opened #47 "Update view when changing state"
While playing with `redux-dev-tools` I have noticed that the Router updates the view only as a response to `location` change.

Stepping through the navigation steps was not updating the view.

I think that `location` change should eventually cause the view update, but the "source of truth" should be the state.

[2018-02-26 07:35] Mytrill commented on #47
From the source, it looks like the router updates the state as a result of location change: https://github.com/hyperapp/router/blob/48d81a0cca9ce0545905021b1cd78d9d4840a33d/src/location.js#L30

Are you suggesting that the order should be `click link -> state change -> location change -> view updated` rather than `click link -> location change -> state change -> view updated`, or are you saying the

[2018-02-26 09:03] mickeyvip commented on #47
I think that the logic you describe is correct: `location change -> state change -> view update`.

But when only the state changes - the view should also update.

`location` is a side effect, the changes in the `state` should be reflected in the `view` regardless the `location`.

[2018-02-26 09:46] Swizz commented on #47
So my first concern should be not looking at how the `state` catch the new `location`, but how a `Link` set a `location` :
https://github.com/hyperapp/router/blob/48d81a0cca9ce0545905021b1cd78d9d4840a33d/src/Link.js#L22

I tend to use the `view` more like an `update`/`subscribe` point to the `state` changes. So, I would love to see the following pattern.
[code]

[2018-02-26 10:11] mickeyvip commented on #47
Sounds like it will need to handle page refresh differently?

[2018-02-26 10:29] Swizz commented on #47
What are you thinking ? Do you agree the API should stay the same ?
If everything is handled by the state, how would you give `history.{go,back,forward}` power to the user ?

[2018-02-26 12:18] rexrhino opened #48 "How do specified routes get access to the state?"
In the example, we specify the view we want to show via the 'render' parameter:
`<Route path="/" render={Home} />`

Views only appear to be passed a 'match' object, not any state.

In the example, that is fine - but in real life, we are going to want a component that has access to state, because obviously we are going to be showing stuff more complicated than an h2 tag.

What is the proper way to

[2018-02-26 12:22] JorgeBucaran commented on #48
@rexrhino The way we do it is passing the state and actions (or the parts of the state and actions you want to share with the route) manually.

[code]

Don't forget to change the signature of your `Home` component to expect these arguments now.

[code]

Now, this is going to get a lot easier after hyperapp/hyperapp#606 lands and we start sharing the state and actions with components out of the box

[2018-02-26 12:22] #48 closed

[2018-02-26 13:57] mickeyvip commented on #47
I think the `location` change should trigger the `stage` change, then `view` change.

But changing `router`'s state (that's what `redux-dev-tools` is doing) should also update the `view`

[2018-02-26 13:58] mickeyvip commented on #47
maybe...
`location change` -> (`state change` -> `view change`)

making
`state change` -> `view change` just work.

[2018-02-26 14:09] Swizz commented on #47
I need more clue, but is this not the current behavior ?

I have not authored the router, but looking at the source code, we have the following pattern.

[code]

1. Subscribe to location change
https://github.com/hyperapp/router/blob/48d81a0cca9ce0545905021b1cd78d9d4840a33d/src/location.js#L42

2. Set the location in state at location change
https://github.com/hyperapp/router/blob/48d81a0cca9ce054

[2018-02-26 14:29] andyrj commented on #47
@mickeyvip can you share a link to the code you have the error with?

[2018-02-26 14:58] mickeyvip commented on #47
I didn't look into a code, but the problem is that `view` is not updated when only `state` changes.

[2018-02-26 14:59] mickeyvip commented on #47
`set` should be called when only `state` changes.
`state` should change when `location` changes.

[2018-02-26 15:12] Swizz commented on #47
From where are you changing the `state.location` ? Another action ?

[2018-02-26 15:15] mickeyvip commented on #47
another action, specifically I am using `redux-dev-tools`

[2018-02-26 15:25] andyrj commented on #47
Just to clarify why I thought this was issue worthy, the devtools hoa replaces the state in full on time travel.  So if the routes are determined based solely on the state this behavior shouldn't be happening.

[2018-02-26 15:25] Swizz commented on #47
Then, now I see where the problem is.

We were looking at the subscription, but the problem is near the consumption. The `view` render is correctly called, but the new expected `Route` is not rendered.

By default, the `Route` renderer is awaiting the `window.location.pathname` to match the `path` parameter.
https://github.com/hyperapp/router/blob/48d81a0cca9ce0545905021b1cd78d9d4840a33d/src/Route

[2018-02-26 15:36] mickeyvip commented on #47
@Swizz, if I am understanding correctly - this is the way

[2018-02-26 15:38] Swizz commented on #47
So, we need to document this. This one affect `Route`, `Redirect` and `Link`.

The code is present but the documentation is not.

[2018-02-26 15:56] mickeyvip commented on #47
@Swizz, what do you mean by

The code also needs a change, right?

[2018-02-27 07:30] mickeyvip commented on #47
@Swizz, so just add `location={state.location}`?

I'll give it a try.

Thank you!

[2018-02-27 12:54] Swizz commented on #47
So the only need is to clarify this in the documentation.

Do you agree ?

[2018-02-27 13:03] mickeyvip commented on #47
@Swizz , just tried it out.. There is a problem.

When I added `location={state.location}` - the page starts reloading when routing...

[2018-02-27 14:19] andyrj commented on #47
@mickeyvip did you use e.preventDefault()?

[2018-02-27 14:20] andyrj commented on #47
Hang on that is in the Link component...  Hmm, not sure why it's reloading on Link click.

[2018-02-27 17:31] mickeyvip commented on #47
@andyrj , just got home and trying it on my hope PC - works! No reloads.

[2018-03-01 03:03] willin opened #50 "Life Circle question"
how to trigger `beforeEnter`, `beforeLeave` and so on...

where to place ajax requests

[2018-03-01 03:58] jorgebucaran commented on #50
What are those?

[2018-03-01 04:55] frenzzy commented on #50
`beforeEnter`:
[code]
`beforeLeave`: [window.onbeforeunload](https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onbeforeunload)

the place for `ajax` requests are [actions](https://github.com/hyperapp/hyperapp/tree/1.1.2#actions)

[2018-03-01 23:20] jlfgomes opened #51 "Lifecycle events for rendered components sometimes don't fire"
Hey guys, so I don't know if I'm doing something wrong or maybe it's a bug. So, for the following code (which I cut from the README and only added lifecycle event handlers):

[code]

The rest is exactly the same. When the page loads at `/`, I get `home created` as expected. When I switch from Home to Topics, I get `home destroyed` and `topics created` as expected. However, when I switch from Home

[2018-03-02 03:49] jorgebucaran commented on #51
Hi, @jlfgomes. The routes are returning similar elements, so they are being recycled. To avoid this, you can use a key in the root element of each route to uniquely identify it within its siblings.

[2018-03-02 09:44] jlfgomes commented on #51
Yep, that works! Thanks for the reply!

[2018-03-02 09:54] jorgebucaran commented on #51
@jlfgomes If that fixes it, can you please close? :)

[2018-03-02 16:20] #51 closed

[2018-03-02 16:20] jlfgomes commented on #51
Sorry, I got so excited I forgot to close, lol. Thanks again!

[2018-03-03 07:57] willin commented on #50
[code]

[2018-03-03 13:34] frenzzy commented on #50
`state.login`? maybe you meant `state.loading`

[2018-03-03 13:53] willin commented on #50
sorry...

[2018-03-03 13:53] #50 closed

[2018-03-05 07:37] willin commented on #51
how to use a key ?

[2018-03-05 09:56] Swizz commented on #51
@willin Did you read this part of the documentation https://github.com/hyperapp/hyperapp#keys ?
If this is unclear do not hesitate to ask further questions on Hyperapp issues or Slack.

[2018-03-06 07:33] willin commented on #51
oh  i did not notice the readme file updated

[2018-03-07 15:30] jorgebucaran opened #52 "Upgrade and rewrite for the upcoming Hyperapp 1.2.0"
Like the title says.

[2018-03-08 10:58] zaceno opened #53 "State-first routing"
The current routing approach lets you control which components render based on the curent `window.location`, but it does not take into account the need for other side effects when the route changes. (Typically: fetching some data based on a route-parameter)

I propose we instead start thinking of route-changes as events, and take the same approach as we do for other events: call an action when the

[2018-03-11 01:14] zaceno commented on #53
@lukejacksonn

What are your feelings about this? Had to ask since https://github.com/lukejacksonn/hyperapp-fetch will break with the next hyperapp update

[2018-03-11 12:41] lukejacksonn commented on #53
I am still on the side of declarative routing and data fetching. Routing is really hard. There are so many ways to go about it, so many _edge-casey_ requirements that I believe flexibility is the number one priority and that is what keeping things in the view gets you. This is just my personal experience.

There have not been many complaints about the approach taken here, I'm not suggesting it is

[2018-03-12 08:17] jorgebucaran commented on #53
If I am not mistaken, the only part that will change due to the new architecture is the Redirect component.

[2018-03-12 14:46] brielov opened #54 "How does this work with ssr and express?"

[2018-03-13 21:52] Pyrolistical opened #55 "How do I set the public path aka basename?"
On my local, I use http://localhost:8080/greetings, but deployed its https://production/some-path/greetings

In my code, I want to write `<Route path="/greetings" render={Greetings} />`

React-router has this:
https://reacttraining.com/react-router/web/api/BrowserRouter/basename-string

[2018-03-14 03:21] jorgebucaran commented on #55
Let's basename then. 👍

[2018-03-14 08:31] Swizz commented on #55
I agree. I needed it in some projects. And the concatenation trick is not really useful.

[2018-03-22 06:26] zdhxiong opened #58 "CustomEvent not support IE"
when I use in IE(11 and below), it fails with:
[code]

[2018-03-22 06:28] jorgebucaran commented on #58
@zdhxiong Can you provide more information? This is not enough to help you.

[2018-03-22 06:39] zdhxiong commented on #58
@jorgebucaran
in file: `location.js` line 7, you use `CustomEvent`, but it's compatibility is:
![image](https://user-images.githubusercontent.com/3030330/37754868-41273274-2dde-11e8-927b-1f21cf573f31.png)
I found a polyfill to fix this problem: https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent

[2018-03-22 06:45] jorgebucaran commented on #58
@zdhxiong Ah, okay gotcha! Thanks for clarifying.

[2018-03-25 15:16] ryanford-frontend commented on #44
If you're using a named instance, like `const main = app(state, actions, view, document.body)` I was having a similar issue and had to pass in `main` instead of `state`:

[code]

[2018-03-30 07:56] Swizz commented on #52
Can we close this since #59 is shipped ?

[2018-03-30 07:57] Swizz commented on #47
@mickeyvip Does #59 solve this issue on your side ?

[2018-03-31 06:45] mickeyvip commented on #47
@Swizz , just checked Hyperapp `1.2.5`, @hyperapp/router `0.5.0`, hyperapp-redux-devtools `1.1.6`.

It is working as expected with dev tools without additional `location={state.location}`.

[2018-03-31 06:46] jorgebucaran commented on #47
@mickeyvip Can we close then? 🎉

[2018-03-31 06:46] mickeyvip commented on #47
Yes! Thanks!

[2018-03-31 06:47] #47 closed

[2018-04-06 13:33] brielov commented on #54
Nothing?

[2018-04-06 14:10] zaceno commented on #54
I for one am not sure what the question means. @brielov Can you explain more specifically what you want to do?

I personally haven’t used SSR, so I can’t answer anything about that. But there is @hyperapp/render for that.

As for express, hyperapp’s router uses the history API, so you’ll want to configure your express router to fall back to serving the app-html instead of 404s

[2018-04-06 14:33] jorgebucaran commented on #54
@brielov A server-side example Hyperapp using @hyperapp/render and @hyperapp/router? Nope, there isn't one.

[2018-04-09 18:58] drejohnson commented on #54
The issue for me is that it seems like the router relies on window.location so it throws error: `ReferenceError: window is not defined` when using ssr.

[2018-04-09 20:12] Swizz commented on #54
You are responsible to wire the router state to your state, so instead of
[code]
You are able to use
[code]

[2018-04-10 07:04] frenzzy commented on #54
@Swizz I guess the problem in this code:
https://github.com/hyperapp/router/blob/8db6747b3598c5c7832ffe1c0f09311fecb0ceee/src/location.js#L17-L21

This file is used internally and when it being executed it throws an error because `window` is undefined on the server. I believe `getState` function could help in this case.

[2018-04-12 19:43] zaceno opened #66 "Routed component's top node always destroyed"
Please see this example: https://codepen.io/zaceno/pen/vRwERE?editors=0011

Each page ("A" and "B") has a plain `p` with no key as its top node.  Notice when you navigate between "PageA" and "PageB" the console reports that `ondestroy` is being called for the element.

This is unexpected, since the usual behavior for Hyperapp, when it encounters a node with the same tagName as the previous render,

[2018-04-13 01:07] jorgebucaran commented on #66
@zaceno Your view needs an [unchanging](https://github.com/hyperapp/hyperapp/#top-level-nodes) root/top-level virtual node. Isn't that what this is about? 🤔

[2018-04-13 06:01] zaceno commented on #66
@jorgebucaran Nope that's not it. The thing is that the root (of each Page component) *is* unchanging. It's the same no matter which page you are routed to. Even so, for some reason Hyperapp is destroying and recreating the element every time I navigate to a different page, (causing `ondestroy` to be called on it).

So to clarify: the unexpected thing, in the example above, is that the ondestroy h

[2018-04-13 06:42] jorgebucaran commented on #66
@zaceno Good catch, this is somehow related to lazy components.

[2018-04-13 07:18] jorgebucaran commented on #66
@zaceno I narrowed it down to resolveNode. The problem is `resolveNode` resolves to `""` for null and undefined virtual nodes, which in the case of `Route`, is the case when a route doesn't match.

This means we always compare the node or oldNode (`<p>` in the example) against an empty string.

The correct solution is a proper fix to @jonlov's https://github.com/hyperapp/hyperapp/pull/636.

[2018-04-13 07:50] zaceno commented on #66
Aha! Makes perfect sense. Also explains how I was able to work around this behavior by using a common key for the root node of the two pages. Thanks!

[2018-04-13 08:08] jorgebucaran commented on #66
The reason lazy components exists is because of all the boilerplate required in 1.0 to access the state _and_ actions. In 2.0, since actions are no longer "wired" to your app, the boilerplate to pass the state around is minimal, so I see the lazy components used for something else, not to access the state, but to enable dynamic views instead.

[2018-04-13 11:08] dangerousdan commented on #54
@frenzzy Correct, there is also uses of `history` in the components as well.

The root of the problem IMO is direct usage of these browser-only objects in the components.

Instead, I think it would be much cleaner and reusable if these components dispatched actions.
This then leaves the implementation up to the user, as they can use a different set of actions for browser and SSR.

For example:

[c

[2018-04-13 11:39] dangerousdan commented on #54
It's probably also worth mentioning that I had issues when importing components from the index.js file with `import { Route } from '@hyperapp/router'`.

Everything is fine with tree shaking enabled, but the `window` and `history` objects break things in SSR when theres no tree shaking.

I'm not sure on the best way to fix this. I just removed the offending files from the index.js import, then incl

[2018-04-16 02:45] jcperez-ch commented on #54
About the `browser only` objects used in `@hyperapp/router`, there might be a workaround to make it work in `node` environments for SSR.
I am facing the same problem.  Probably adding an example on how to use `@hyperapp/router` with `@hyperapp/render` would help the community. For now, seems like the router code needs a bit of tweaks, am I right @dangerousdan ?  Something that doesn't rely on `bro

[2018-04-16 03:52] jcperez-ch commented on #54
Thanks @jorgebucaran the workaround seems to be pretty simple, I'll create PR soon, combining a simple `typeof window === 'undefined'` with @dangerousdan pen suggestion, it should be enough fine.

[2018-04-18 11:06] jonlov commented on #66
If you wrap the routes with the `<Switch>` component it doesn't destroy the parent components. I'm not sure if we should change `resolveNode` to resolve to an empty element or leave it as it is. 🤔

If we `return null` on a component it shoudn't create any element, but it should reuse the old element if it was the same. How can we do this?

Does this mean that resolving `""` is wrong?

[2018-04-18 11:10] jorgebucaran commented on #66
I mean that I'll reuse the implementation of lazy components to implement dynamically imported components `import()`, but 1.0 lazy components will be removed from 2.0.

[2018-04-18 11:18] #58 closed

[2018-04-18 11:30] jonlov commented on #66
Got it! So this issue will be left like this for Hyperapp 1.0?

[2018-04-18 11:32] jorgebucaran commented on #66
I think so, yes.

[2018-04-23 19:54] charlieroth opened #69 "InvalidCharacterError: String contains an invalid character"
Dependencies:
[code]
I have a simple application set up:

[code]

But whenever I run the app I get the following error:

<img width="1424" alt="screen shot 2018-04-23 at 3 47 33 pm" src="https://user-images.githubusercontent.com/13981427/39149697-fe82c53e-470d-11e8-9f1e-a743dd6965fe.png">

I can't seem to locate the origin of this bug. If I am doing something wrong in the code then please let me k

[2018-04-24 00:54] jorgebucaran commented on #69
@charlieroth The first I'd do is make sure I'm running the latest Hyperapp. Currently, that is v1.2.5.

[2018-04-24 01:12] #69 closed

[2018-05-11 06:33] infinnie commented on #66
But I don’t think that it is a bug.

Just requiring that every element that has any lifecycle methods associated with it be keyed would solve that problem.

[2018-05-18 14:52] niallobrien opened #74 "Deeplinking doesn't work"
Hi, I tried the online demo but when I visit http://hyperapp-router.surge.sh/test directly, I get a 404.

[2018-05-18 14:54] jorgebucaran commented on #74
That's an old demo which is entirely a frontend app, no server, hence the 404.

[2018-05-18 14:54] #74 closed

[2018-05-18 15:31] niallobrien commented on #74
Hi, is there a new demo? If so, perhaps this should be linked to in the Readme.

[2018-05-19 03:32] jorgebucaran commented on #74
@niallobrien The currently linked demo works as it was intended to, but perhaps a slightly more sophisticated demo with a server is what you were looking for? I haven't touched the router for a while and I don't have one at hand, but hop on Slack if you want and ask around.

Disclaimer: I haven't forgotten about the router, I am just busy implementing the new Hyperapp ([2.0](https://github.com/hyp

[2018-05-24 13:30] valentinbdv opened #75 "router and parcel"
The hyperapp router doesn't work in my project and I don't really see why.
I tried all the basic example of the README and always get this createElement error :
```The tag name provided ('') is not a valid name.```

I guess this is because I am using parcel-bundler or maybe because a version conflict. Here is my package :
[code]

Really nice feature by the way! Thanks for your help!

[2018-05-24 13:34] #75 closed

[2018-05-24 13:51] valentinbdv commented on #14
+1

[2018-05-24 21:41] valentinbdv opened #76 "Is there a way to have actions inside a route?"
The most obvious way was to do that :
[code]

I tried many other things but none has worked. Is it possible?

[2018-05-25 01:55] jorgebucaran commented on #76
Hi @valentinbdv, I think https://github.com/hyperapp/router/issues/33#issuecomment-354379525 answers your question, but let me know if you meant something else. 👋

[2018-05-25 01:55] #76 closed

[2018-05-25 07:07] valentinbdv commented on #76
Yes @jorgebucaran this is what I am looking for.

But can't make it work, do you have a working example please?

I am sorry but I am still getting use to the hyperapp syntax which is quite different from what I am used to.

[2018-05-25 07:09] jorgebucaran commented on #76
@valentinbdv Make sure you are using the correct actions which are passed to the view, and not the implementation of your actions which you pass into the app function. Are you doing that perhaps?

[2018-05-25 07:13] valentinbdv commented on #76
Ok I just notice my view didn't use the actions as an argument.
Too much copy-paste from other project I think.
Thanks for the help ;)

[2018-05-25 07:15] jorgebucaran commented on #76
Great! 🎉

This is a common problem and it's one of the first things that 2.0 is addressing.

-  https://github.com/hyperapp/hyperapp/issues/672
-   https://github.com/hyperapp/hyperapp/issues/696

[2018-05-25 08:12] jorgebucaran commented on #76
Sure, since you control running the view function, you can pass whatever you want into it. It could be `Login({ state: state.login, actions: actions.login })` or `Login({ foo, bar, baz })`.

[2018-05-25 08:14] valentinbdv commented on #76
Not exactly what I imagined but very close to it, putting the children state and actions in a property of the main object did the trick :
[code]
I had to use "state.user" everywhere in my login view though!

[2018-05-25 08:16] jorgebucaran commented on #76
@valentinbdv That's a common pattern in this kind of single-tree architecture. You found it yourself! 😄👍

[2018-05-25 08:27] jorgebucaran commented on #76
The single tree architecture is one of the main themes in Hyperapp, so that is not going away. But yeah, 2.0 is a solid step in the right direction.

[2018-05-26 12:38] infinnie commented on #76
But if you want to dynamically load actions on a per-route basis for code splitting and reducing initial bundle size, I would suggest my own project: https://github.com/infinnie/hyperapp-connect (npm hyperapp-dynamic-connect).

[2018-05-27 23:50] download13 opened #77 "Fails to re-render on route change if Switch is used as root"
Is [this gist](https://gist.github.com/download13/d65a50a90b2cc44041ea50c6c4f296ab) a Switch is used as the root component in the view. When Switch is used this way, clicking on Link's changes the URL bar, but does not transition to the appropriate route.

Also, I was running that gist with `parcel serve index.html`

[2018-05-28 00:37] jorgebucaran commented on #77
@download13 Hmm, yes, I think that makes sense, you need a root node to contain the rendered route.

[2018-05-28 00:47] download13 commented on #77
This is intended behavior?

[2018-05-28 17:02] download13 commented on #77
Shouldn't the contents of the current Route be appended to the mount point that was passed to `app()`?

I thought this might require hyperapp to support document fragments, but since the render prop on Route is just a component and components have to return a single vdom node couldn't that single returned node just be passed up through Route and Switch and appended directly to the mount point?

I'

[2018-05-29 01:13] jorgebucaran commented on #77
@download13 That's not what I see in your gist, or I don't understand what you mean. Your view has no root element.

[code]

Support for document fragments like React's `<></>` would help and it's being discussed for after 2.0. In the meantime, your view needs a root element.

[2018-05-29 02:39] download13 commented on #77
I'll try to explain what I mean more clearly:

`Index` returns a valid node.

Can we just pass the result of running/rendering `Index` up to `Route`, which passes it up to `Switch`, which returns it as the root node?

That was what I expected to happen when I wrote the code. That the result of rendering `Index` would be appended to the mount point (`document.body` in this case).

I'm wondering why

[2018-05-29 04:35] jorgebucaran commented on #77
@download13 There is no support for arrays as a root element. Like I explained above, we'd need to use document fragments to support that. But now it seems that's not your problem because each route is wrapped in a div and Switch returns a node, _not_ an array.

This may have to do with lazy components (see https://github.com/hyperapp/router/issues/66), which are currently being used to implement

[2018-05-29 05:32] download13 commented on #77
I can't get it to run on codepen due to conflicts in the assumed path (router thinks it's at /, but codepens are served from a subpath on the site).

I set up a [repo](https://github.com/download13/hyperapp-router-test) where all you need to do to test it is `npm i && npm start`.

[2018-05-29 07:18] jorgebucaran commented on #77
@download13 It seems you just forgot to subscribe to location events.

[code]

[2018-05-29 07:20] #77 closed

[2018-05-29 08:29] download13 commented on #77
Ah shoot! That solves it on the test case. And I can no longer replicate the issue in my actual application (though I'm pretty sure it did have it's subscription). So yeah, solved, I guess.

Thanks!

[2018-05-29 08:30] jorgebucaran commented on #77
Awesome, glad I could help!

[2018-06-09 11:54] gwn commented on #53
Hello. I'm a new Hyperapp user, but not a Hyperapp router user. I'm not a fan of expressing opinions without trying stuff but TBH the moment I saw the `Route` component I decided not to go further with it.

IMHO the future of routing is the state first approach. It has so many benefits some of which are expressed by @zaceno above.

I kind of find it funny to see routing reinvented with each new fr

[2018-06-14 23:46] gwn commented on #53
I just pushed the initial version of a Hyperapp-Router5 adapter: https://github.com/gwn/hyperapp-router5-adapter.  I'd be happy to hear any feedback. I'd like to publish it in NPM with the name `@hyperapp/router5-adapter` if the community approves of it.

@Swizz thank you for your comment. I'm actually excited about Hyperapp 2.0. As I'm advocating the use of a separate and established router packa

[2018-06-20 11:59] aminnairi commented on #31
## Temporary fix

I am currently using the [object destructuring's assignation to new variable names](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment) technique to rename all `location` to something else. This way, I am able to use the `location` property, but aliased. I am still having some trouble with the `Link` component, so I have made a cu

[2018-07-01 15:34] Irelokeh opened #78 "How To Render View Function Using Router?"
Firstly, i wish to thank the Hyperapp community for it's great work on hyperapp.

However, i am facing an issue implementing a feature. I'm almost done making an Hyperapp js demo tutorial with HA 1.x. My demo is a stateful shopping cart app. I am implementing routing using **@hyperapp/router.**

Now the issue is... my ` "/"` route defaults to render the view function which contains some presentati

[2018-07-01 15:38] jorgebucaran commented on #78
@Irelokeh Have you looked at the [Switch](https://github.com/hyperapp/router#switch) component?

[2018-07-01 15:39] jorgebucaran commented on #78
Props for that! Lazy components are on their way out by the way. Anyway, can you share a CodePen or post some code I can look at?

[2018-07-01 15:57] Irelokeh commented on #78
Ok sure @jorgebucaran

This is **View.js** file:

[code]

[2018-07-01 15:59] Irelokeh commented on #78
@jorgebucaran  so sorry for inconvieniences, i'm a beginner Hyperapper This works and render all components but the **"/"** route is not exact and all other routes render in the home.

Could this due to my file structure?

[2018-07-05 15:45] phongduong opened #79 "Cannot read property 'length' of undefined"
I am working with hyperapp/router but having some problem with <Route />
Whenever i add path prop to `<Route />` like this `<Route path="/dashboard" render={Dashboard} />`, it causes an error and my app crashes. Console prompts this

I try to remove path from `<Route />` and app works normally. But i need path to navigate my app. How can i fix it?

[2018-07-05 15:55] #79 closed

[2018-07-05 16:17] jorgebucaran commented on #79
Hi @phongduong! Sorry, for the delayed response. 🙇

 I don't have the problem you are describing. Can you share a CodePen or repo with a reproduction of the problem? It's the only way to help you effectively.

[2018-07-06 01:44] phongduong commented on #79
I solved it. Because i split state and actions into modules, i need to import location from router to make it work. Thank you

[2018-07-06 02:31] phongduong opened #80 "App crashes when refresing page"
I am having problem with refreshing page. When browser loads page initially, app works well. I try to refresh page and app crash. I also test it on router example page, the same result. Do you guys have any solution for it?

[2018-07-06 02:33] jorgebucaran commented on #80
@phongduong You need to setup your server to serve `index.html` in every route.

[2018-07-06 02:51] phongduong commented on #80
thank you

[2018-07-06 02:56] jorgebucaran commented on #80
👍 👍

[2018-07-06 02:56] #80 closed

[2018-07-06 16:03] phongduong opened #81 "Is there any way to pass state to render props"
I am try to enfore user login before using my app. But i can't pass state or actions in to render props. I want something like this
[code]
i can't get two props i want but match and location. Can i do that? If not, is there another way to do it?

[2018-07-06 16:16] jorgebucaran commented on #81
You can call a function like this:

[code]

...and declare your Login function to accept some data and return a component.

[2018-07-07 02:18] phongduong commented on #81
I tried but it lost match props

[2018-07-07 02:34] jorgebucaran commented on #81
@phongduong Declare your Login function as follows:

[code]

[2018-07-07 02:35] jorgebucaran commented on #81
That should do it! Please let me know if that solved your issue and feel free to reopen if it didn't.

Cheers! 👋

[2018-07-07 02:35] #81 closed

[2018-07-07 04:21] phongduong commented on #81
It works now. Thank you

[2018-07-09 01:52] phongduong opened #82 "How to use router in other modules?"
I have a question that how i can use router in other modules that is not the main module? For example, if users click log in, i will redirect them to dashboard. When they click log out, they will be to login page. How can i do that?

[2018-07-09 01:54] jorgebucaran commented on #82
Are you looking for https://github.com/hyperapp/router#redirect?

Otherwise, I recommend you share a CodePen or example repository reproducing you're having.

[2018-07-09 03:18] jorgebucaran commented on #82
@phongduong Thanks for the sandbox, now if you could walk me through the code and explain what you tried to do and failed, or what you want to do in more detail, that would help me _help_ you.

Also, could you clarify what you mean by other modules?

Cheers!

[2018-07-09 03:45] phongduong commented on #82
This app is simple. You click login button, it sets `state.authenticated` to true and redirects to path `/`. When you click log out, it back to login page. You can see i create `<PrivateRoute />` to check if user was authenticated.
Other modules are `Dashboard` and `Login`. I want to split components into modules to keep code clean.

[2018-07-09 04:23] jorgebucaran commented on #82
@phongduong And what's the problem?

[2018-07-09 04:30] jorgebucaran commented on #82
Your codebox has a syntax error, if you can fix it, that would be great.

[2018-07-09 04:34] phongduong commented on #82
I fixed and updated my present code

[2018-07-09 04:39] jorgebucaran commented on #82
It seems to be working. When I click "Log in" it jumps to the Dashboard and when I click "Log out" it jumps back to Login.

[2018-07-09 04:48] phongduong commented on #82
I know. But can i use `<Redirect />` to do it?

[2018-07-09 04:55] jorgebucaran commented on #82
You are using Redirect. I see Redirect being used in two parts of the code.

[2018-07-09 04:58] jorgebucaran commented on #82
It appears you just need some help, and there are actually not bugs in the Router this time. If you need help with something, I suggest you join us on Slack as I want to use the issue tracker to track issues, bugs, feature requests, etc.

[2018-07-09 04:58] #82 closed

[2018-07-19 12:48] Swizz opened #83 "RFC: Hyperapp Router 2.0"
It is time to think to the new router for HAV2. (or I am a little bit too hasty ?).

This router of choice will be state first, as requested by many of us. It will stick to the new shiny Subscription API.

And is mostly inspired by the already in [HAV2 concepts](https://github.com/hyperapp/hyperapp/issues/672), plus some good tastes from [Router5](https://router5.js.org) and [Riot/router](https://

[2018-07-20 12:00] Swizz commented on #83
Like in HAV1, I want to keep the ability to render multiple different piece of the view accordingly to the route.
This is how the `greedy` property works.

I am open to a component as helper for `state.location.path` test.

But it would look like the following :
[code]

[2018-07-20 12:34] Avalander commented on #83
@Swizz that looks better than what I came up with.

[2018-08-20 10:06] lili21 opened #84 "listen router change ?"

[2018-08-20 10:34] zaceno commented on #84
'fraid not. There's a proposal though: https://github.com/hyperapp/router/issues/53

[2018-08-20 13:25] Swizz commented on #84
Another one following the Hyperapp V2 new API : #83

[2018-08-21 03:38] lili21 opened #85 "can't get match props when using lazy component"
[code]

[2018-08-21 03:52] #85 closed

[2018-08-21 08:40] lili21 opened #86 "Link active class ?"
something like this

[code]

will add `active` class to the element when the path match the link.

[2018-08-21 09:55] #86 closed

[2018-08-21 09:56] jorgebucaran commented on #86
@lili21 What are you doing?

[2018-08-21 09:56] #84 closed

[2018-08-21 10:00] jorgebucaran commented on #86
@lili21 I highly recommend you [join our slack](http://hyperappjs.herokuapp.com/). Cheers.

[2018-08-21 10:25] zaceno commented on #86
If you've wired the router state to the `location` namespace in your app, I think this should work:

[code]

[2018-09-05 21:18] dblodorn opened #87 "State returns only match and location?"
Hi! So happy there is an official router for hyperapp - just starting to refresh my portfolio with hyperapp and hope to use for future projects, really love the overall simplicity!!!

One hangup I'm having is retrieving my app state in route components.

So when I try to reference state in a View (Page) all i get is an object with match and location:

`{match: {…}, location: {…}}`

Any thoughts as

[2018-09-05 22:26] zaceno commented on #87
@dblodorn that's actually expected behavior for the router. It's not expected to pass the state  as the first argument but *props*, and the props it passes are `location` and `match`.

So what you want to do is define your routed components like this:

[code]

And define your routes like this:

[code]

Does that make sense?

[2018-09-06 17:49] dblodorn commented on #87
@zaceno Awesome thanks! this makes sense. Coming from react redux, vue vuex - so was under the assumption that i could access state from anywhere (like with connect react-redux) - thanks a mil for the helpful advice.

Loving Hyperapp (esp. having a 7k bundle with styling, router, state management, transitions... etc! Insane!!!💥💥💥)

[2018-09-06 17:49] #87 closed

[2018-09-07 14:30] zaceno commented on #87
@dblodorn When you mentioned connect react-redux I just realised I totally forgot about the feature called connected components (alternatively "lazy components"). Now, it's on it's way out in the next version of Hyperapp, but in version 1.2.x you could actually keep your main file as you had it, and just define your routed components as:

[code]

don't know how I forgot about this 🙃

Anyway, like

[2018-10-07 07:10] ivan-kleshnin opened #89 "Onremove handlers break routing"
I've caught a serious bug with `onremove` handler and this router. It happens when you add `onremove` handler to the top page DOM node. Pls. see video showcase: https://youtu.be/eOkXUxndS_s

Sample app with this bug: https://github.com/ivan-kleshnin/hyperapp-test

[2018-10-07 07:10] jorgebucaran commented on #89
@ivan-kleshnin And do you have a solution?

[2018-10-07 07:13] ivan-kleshnin commented on #89
Unfortunately, no. I'm considering Hyperapp as an option to migrate to in the future. Have no real product or code experience with it.

[2018-10-07 07:18] jorgebucaran commented on #89
@ivan-kleshnin Are you not using keys? https://github.com/jorgebucaran/hyperapp/#keys

[2018-10-07 07:28] ivan-kleshnin commented on #89
Oops. Thanks! I should be more careful with docs.

[2018-10-07 07:30] jorgebucaran commented on #89
@ivan-kleshnin No worries! Thank you for sharing a repo, otherwise, I would have probably never guessed what went wrong. 🎉

[2018-10-18 06:47] urbanhop opened #90 ""A route without a path is always a match." ?"
The Readme on Routes says

I do not understand hat.

[2018-10-18 06:56] jorgebucaran commented on #90
@urbanhop It's confusing, I agree. It means, however, that if you omit the `path` attribute, the route will always match, meaning the component specified via the `render` attribute will be rendered.

The following route is rendered oInly if path equals "/".
[code]

The following route is always rendered.
[code]

[2018-10-18 06:56] #90 closed

[2018-11-22 10:33] olegantonyan opened #91 "TypeError: props.render is not a function - passing state and actions to a component"
index.js:
[code]

src/home_component.js:
[code]

This gives an error
`TypeError: props.render is not a function`

What am I doing wrong?
[code]

[2018-11-22 10:37] zaceno commented on #91
The `render` prop should always be a *component*, i e a function that takes an argument and returns a vnode. In this case, the argument we will be passed will be the route info.

This means you should define your `HomeComponent` like this:

[code]

... and it should work as expected.

This is a very common mistake, btw, so don't feel bad! 😄

[2018-11-22 10:43] olegantonyan commented on #91
Wow! this was the quickest answer in my career :)
Thank you @zaceno

[2018-11-22 10:43] #91 closed

[2018-12-09 13:20] ravshansbox opened #94 "Example in README.md produces error in typescript project."

[2018-12-09 14:46] ravshansbox commented on #94
Seems like reporting does not help in this project. Thanks.

[2018-12-15 10:03] babie opened #96 "TS2605 Error appeared on TypeScript 3.2.2"
On TypeScript 3.2.2, every &lt;Route&gt; outputs TS2605 error.

like this:
[code]

[2018-12-15 10:48] babie opened #98 "Supports all-match feature on TypeScript"
On JaveScript, &lt;Route&gt; has not necessary a `path` prop. In case of no `path` prop, &lt;Route&gt; matches all path.
But on TypeScript, &lt;Route&gt; must have a `path` prop on current code.

Because it defined in `index.d.ts`:
[code]

[2018-12-17 03:34] #96 closed

[2018-12-17 03:38] jorgebucaran commented on #98
Implemented by #99.

[2018-12-17 03:38] #98 closed

[2019-01-09 17:51] SilentCicero opened #101 "Docs out of Date"
These docs are out of date with the module published. There is only Router and Route now available in the lib. Please warn people in the docs.

[2019-01-10 00:39] jorgebucaran commented on #101
@SilentCicero Thanks for pointing that out. I don't have time to maintain this module at this particular moment in time, so everything is "on hold" until I am able to get back to it. I am, however, happy to merge a PR that adds such warning to the docs.

Thanks!

[2019-01-10 00:39] #101 closed

[2019-01-11 09:43] maxbaluev commented on #8
At electron we can use hyperapp-hash-router

[2019-02-25 08:56] gungorkocak commented on #83
Reanimating this issue, since we have [hyperapp@v2.0.0-alpha](https://github.com/jorgebucaran/hyperapp/tree/2.0.0-alpha.2) now.
(Couldn't find a more relevant issue than this one.)

I have started experimenting with hav2, and I think next point for me and most of people would be having more solid examples that rely on critical complementary libraries especially like `@hyperapp/router`.

What are y

[2019-02-28 08:50] Swizz commented on #83
Some days ago I was thinking about making a PR.
But I was out of the loop from months now about Hav2. I will take the time to read the changes on Hav2 since I left the loop.

@gungorkocak  Maybe you can reach me on slack to take the time to talk about it.

[2019-03-25 09:22] sergey-shpak commented on #83
@Swizz please take a look at https://github.com/jorgebucaran/hyperapp-router/pull/100

[2019-04-02 06:38] Vibing opened #102 "Refresh browser app crash"
The same with: https://github.com/jorgebucaran/hyperapp-router/issues/80

What should I do in the code?

[2019-04-02 10:35] jorgebucaran commented on #102
@Vibing Do you have (or could you make) a pen or a CodeSandBox that we can work with?

[2019-04-03 01:17] Vibing commented on #102
@jorgebucaran Thank you for answering my question. I think the problem I encountered might be the same as the [online demo](http://hyperapp-router.surge.sh).

If I type `http://hyperapp-router.surge.sh` in the address bar and jump to` http://hyperapp-router.surge.sh/test` by clicking on the route, it is ok.
But I typed `http://hyperapp-router.surge.sh/test` directly and it went wrong.

By route:
!

[2019-04-03 03:26] jorgebucaran commented on #102
@Vibing I found a few links that may help you. If you are using:

- Surge <<https://surge.sh/help/adding-a-200-page-for-client-side-routing>>
- Netlify <<https://www.netlify.com/docs/redirects>>
- GitHub Pages via a `404.html` with redirects <[rafrex/spa-github-pages/blob/gh-pages/404.html](https://github.com/rafrex/spa-github-pages/blob/gh-pages/404.html)>

If you are serving an `index.html` with

[2019-04-03 03:26] #102 closed

[2019-04-28 22:02] slacktracer commented on #87
@zaceno Are you sure it works? I mean, I was trying it here just now and if something like:
[code]

it seems my components will be forever stuck with original state and will not receive the current state on every route render...

[2019-04-29 08:02] zaceno commented on #87
@slacktracer I haven’t tried it in forever but I don’t know why it wouldn’t work.

When the state is changed the entire view is recalculated, meaning the values of the render props is also recalculated.

[2019-05-01 15:47] dude333 opened #105 "Typescript: support for View in RouteProps"
The current interface for RouterProps.render is `(props: RenderProps<P>) => VNode<RenderProps<P>>`.

You can set an Element to be rendered as well (code below) but typescript compiler issues this warning message:

`Type '() => (state: State, actions: Actions) => Element' is not assignable to type '(props: RenderProps<{}>) => VNode<RenderProps<{}>>'.`

`Type '(state: State, actions: Actions) => Ele